<!doctype html>
<html >
  <head>
  	<title>Angular Js To do App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body ng-app="todoApp">
    <h2>To-do</h2>
    <div ng-controller="TodoListController as todoList">            
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <div class="col-md-4"></div>
      <div class="col-md-4">
      	<form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="What's next on the list ?" autofocus>
        <input class="btn btn-default" type="button" value="add">
      </form>
      </div>
      <div class="col-md-4"></div>


      
    </div>
  </body>
</html>